.services-container {
  padding: 60px 40px;
  max-width: 1200px;
  margin: auto;
  color: white;
}

.services-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #dfd5d5;
  
}

.services-subtitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 40px;
  color: #dfd5d5;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.service-card {
  background: rgba(11, 0, 0, 0.986);
  padding: 25px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  transition: 0.3s ease-in-out;
  border: 1px solid rgba(255,255,255,0.2);
}

.service-card h2 {
  margin-bottom: 10px;
  font-size: 22px;
  color: orange;
}

.service-card p {
  color: #eee;
  line-height: 1.5;
}

.service-card:hover {
  transform: translateY(-5px);
  background: rgba(3, 3, 3, 0.2);
}
