.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;

  /* Same as orange-car page */
  background-color: #272525;

  /* make navbar float above hero cleanly */
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 106, 0, 0.7);
}

.logo h2 {
  color: white;
  margin-left: 10px;
}

.links a {
  margin-left: 25px;
  color: #ff6a00;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s ease;
}

.links a:hover {
  transform: scale(1.1);
}

.logout {
  color: #eb4913 !important;
  border: 1px solid #ff2b2b;
  padding: 6px 14px;
  border-radius: 8px;
  transition: 0.25s ease;
}

.logout:hover {
  transform: scale(1.1);
  background-color: #e4e1db;
  border-color: #ff3b3b;
}

