.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #272525;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 6px rgba(255, 106, 0, 0.7);
}

.logo h2 {
  color: white;
  margin-left: 10px;
  font-size: larger;
}

/* ---------------- Links ---------------- */
.links {
  display: flex;
  align-items: center;
}

.link-btn {
  margin-left: 20px;
  padding: 6px 14px;
  border: none;
  background: none;
  color: #ff6a00;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.link-btn:hover {
  color: white;
  transform: scale(1.05);
}

.logout {
  border: 1px solid #ff2b2b;
  border-radius: 8px;
  padding: 6px 14px;
  color: #eb4913;
}

.logout:hover {
  background-color: #e4e1db;
  border-color: #ff3b3b;
}

/* ---------------- Search Bar ---------------- */
.search-bar {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-bar input {
  width: 350px;
  padding: 12px 20px;
  border-radius: 25px;
  border: 1px solid black;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  padding: 12px 28px;
  background-color: #ff6a00;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: 0.3s ease;
}

.search-bar button:hover {
  transform: scale(1.08);
}
