.hero-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 70px 0 70px;
  background: url("E:\SPIC COURCE\SEED FINAL PROJECT\myreactapp\public\images\book.jpg") no-repeat center center/cover;
  color: white;
}

/* Left Side Hero Text */
.content-left h1 {
  font-size: 65px;
  font-weight: 900;
  margin: 0;
  color: #ffffff;                         /* White text */
  text-shadow: 3px 3px 10px rgba(0,0,0,0.8); /* better visibility on bg */
  line-height: 1.1;
}

.content-left h1:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

/* Highlight Text */
.highlight {
  color: #ff8300;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}

/* Left Description */
.content-left p {
  font-size: 19px;
  margin-top: 10px;
  line-height: 1.5;
  color: #e6e6e6;                         /* soft white */
  text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

/* Join Button */
.join-btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: #ff8300;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(255, 131, 0, 0.7);
}

.join-btn:hover {
  transform: scale(1.05);
}

/* Right Login Box */
.login-box {
  width: 350px;
  background: rgba(0,0,0,0.65);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  backdrop-filter: blur(4px);
}

.login-box h2 {
  margin-bottom: 20px;
  color: #ff8300;
  font-size: 26px;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #ff8300;
  background: transparent;
  color: #ffffff;
  font-size: 15px;
}

.login-box input::placeholder {
  color: #dcdcdc;
}

.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  background: #ff8300;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  box-shadow: 0 0 8px rgba(255, 131, 0, 0.7);
}

.signup {
  color: #ff8300;
  cursor: pointer;
}
.login-btn:hover{
    transform: scale(1.01);
}
