.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-box {
  width: 400px;
  background: rgb(4, 4, 4);
  /* backdrop-filter: blur(10px); */
  padding: 30px;
  border-radius: 12px;
  text-align: center;
}

.register-box h2 {
  margin-bottom: 15px;
  color: #ff8300;
}

.register-box input, textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid #ff8300;
  background: transparent;
  color: black;
}

.login-btn {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background: #ff8300;
  border: none;
  font-size: 18px;
  cursor: pointer;
  border-radius: 6px;
  color: black;
  font-weight: bold;
}


